<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-success navbar-fixed-top">
        <a href="#" class="navbar-brand">Hospital</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                <li>@Html.ActionLink("Home", "Index", "Home", new { }, new {@class="nav-link" })</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-link">Hi!</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Serhii Shalikov</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
