<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-success navbar-fixed-top">
        <a href="#" class="navbar-brand">Hospital</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse collapse">
            <ul class="nav navbar-nav mr-auto">
                @NavLink("Home", "Index", "Home")
                @NavLink("Doctors", "Index", "Doctor")
                @NavLink("Nurses", "Index", "Nurse")
                @if (User.IsInRole("Admin")||User.IsInRole("Nurse"))
                {
                    @NavLink("Patients", "Index", "Patient")
                }
                @if (User.IsInRole("Doctor"))
                {
                    @NavLink("Treatments","Doctor","Treatment")
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-link">Hi @User.Identity.Name!</li>
                    @NavLink("Logout", "Logout", "Account")
                }
                else
                {
                    @NavLink("Login", "Login", "Account")
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Serhii Shalikov</p>
            <div>Icons made by:
            <ul>
                <li><a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a></li>
                <li><a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a></li>
            </ul>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@helper NavLink(string linkText, string actionName, string controllerName)
{
    <li>@Html.ActionLink(linkText, actionName, controllerName, new { Area = "" }, new { @class = "nav-link" })</li>
}