@model Hospital.DataAccess.Models.Patient

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Patient Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Active Treatments", "Patient", "Treatment", new { id = Model.UserId }, new { }) |
    @Html.ActionLink("Passed Treatments", "PatientArchive", "Treatment", new { id = Model.UserId }, new { })
    @if (User.IsInRole("Admin"))
    {
        @:| @Html.ActionLink("Begin Treatment", "New", "Treatment", new { id = Model.UserId }, new { })
    }
    @if (User.IsInRole("Admin") || User.IsInRole("Doctor") || User.IsInRole("Nurse"))
    {
        @:| @Html.ActionLink("Back to List", "Index")
    }
</p>
