@model Hospital.DataAccess.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Active Treatments", "Patient", "Treatment", new { id = Model.UserId }, new { }) |
    @Html.ActionLink("Begin Treatment", "New", "Treatment", new { id = Model.UserId }, new { }) |
    @Html.ActionLink("Back to List", "Index")
</p>
