@model IEnumerable<Hospital.DataAccess.Models.Assignment>
@{
    ViewBag.Title = "Assignments";
}

<h4>Finished Assignments</h4>
<hr />
<div class="list-group">
    @foreach (var a in Model)
    {
    <div id="@a.AssignmentId">
        <div class="list-group-item">
            @Html.ActionLink("Details", "Details", new { id = a.AssignmentId })<br />
            @a.AssignmentDate.ToShortDateString() / [@a.Type]
            @Html.ActionLink(a.Treatment.Patient.FullName, "Details", "Treatment", new { id = a.TreatmentId }, new { }) <br />
            Instruction:
            <p>
                @a.Instruction
            </p>
            Finished: @a.FinishDate.Value.ToShortDateString()
        </div>
    </div>
        
    }
</div>

@section scripts{
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}