@model IEnumerable<Hospital.DataAccess.Models.Assignment>
@{
    ViewBag.Title = "Assignments";
}

<h4>Assignments</h4>
<hr />
<div class="list-group">
    @foreach (var a in Model)
    {
    <div id="@a.AssignmentId">
        <div class="list-group-item">
            @a.AssignmentDate.ToShortDateString() / [@a.Type] @a.Treatment.Patient.FullName <br />
            Instruction:
            <p>
                @a.Instruction
            </p>
            @if (a.AssignmentDate.Date <= DateTime.Now.Date)
            {
                using (Ajax.BeginForm(
                    "Finish",
                    new { id = a.AssignmentId },
                    new AjaxOptions() { UpdateTargetId = a.AssignmentId }))
                {
                    <button type="submit" class="btn btn-outline-success">Finish</button>
                }
            }
        </div>
    </div>
        
    }
</div>

@section scripts{
    @Scripts.Render("~/scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}